<!DOCTYPE HTML>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/header :: head" />
  <body>
  	
  	<div th:replace="fragments/header :: nav"></div>
  	
  	<div class="container">
  		
  		<div class="page-header">
  			<h1 th:text="'Carrinho de compras!'"></h1>
  		</div>
  		
  		<div class="col-md-6">
  		  <table class="table">
  		    <!-- <caption>Produtos cadastrados</caption> -->
  		    <tr>
  		      <th>#</th>
  		      <th>Foto</th>
  		      <th>Nome</th>
  		      <th>Descri&#xE7;&#xE3;o</th>
  		      <th class="text-right">Custo</th>
  		    </tr>
  		    <tr th:each="p : ${@carrinho.produtosList}">
  					<td th:text="${p.id}">id</td>
  					<td><img th:src="*{'data:image/png;base64,'+p.fotoBase64encoded}" th:alt="${p.descricao}" height="50" width="50" /></td>
  					<td th:text="${p.nome}">nome</td>
  					<td th:text="${p.descricao}">nome</td>
  					<td th:text="${p.valorCustoCompra}" class="text-right">custo de compra</td>
  					<!-- <td><img th:src="'/produtos/foto?id='+${p.id}" alt=""></img></td> -->
  		    </tr>
  		  </table>
  		</div>
      <div>Total <span th:text="${total}"></span></div>
  		
    </div>
    
    <div th:replace="fragments/footer"></div>
    
  </body>
</html>
