<!DOCTYPE HTML>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/header :: head" />
  <body>
  	
  	<div th:replace="fragments/header :: nav"></div>
  	
  	<div class="container">
  		
  		<div class="page-header">
  			<h1 th:text="'Carrinho de compras!'"></h1>
  		</div>
  		
  		<div class="col-md-12">
  		  <table class="table">
  		    <!-- <caption>Produtos cadastrados</caption> -->
  		    <tr>
  		      <th>#</th>
  		      <th>Foto</th>
  		      <th>Nome</th>
  		      <th>Descri&#xE7;&#xE3;o</th>
  		      <th class="text-right">Pre&#xE7;o</th>
  		      <th class="text-right">Quantidade</th>
  		    </tr>
  		    <tr th:each="p : ${@carrinho.produtosList}">
  					<td th:text="${p.id}">id</td>
  					<td><img th:src="*{'data:image/png;base64,'+p.fotoBase64encoded}" th:alt="${p.descricao}" height="50" width="50" /></td>
  					<td th:text="${p.nome}">nome</td>
  					<td th:text="${p.descricao}">nome</td>
  					<td th:text="${@precoProduto.preco(p.id)}" class="text-right">preco do produto</td>
  					<td class="text-right">
              <form action="#" th:action="@{'/carrinho/quantidade/'+${p.id}}" class="form-inline">
                <label class="sr-only" for="exampleInputEmail3">Quantidade</label>
                <input type="number" class="form-control input-sm" id="qtd" name="qtd" onenter="this.form.submit();" style="width: 80px" th:value="${@carrinho.quantidadeProduto(p)}"/>
              </form>
            </td>
  		    </tr>
  		  </table>
  		</div>
  		
    </div>
    
    <div class="well text-right">Total da compra <h2 th:text="${total}"></h2></div>
    
    <div th:replace="fragments/footer"></div>
    
  </body>
</html>
