<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/header :: head"></head>
  <body>
    <div th:replace="fragments/header :: nav"></div>
    <div class="container">

      <div class="starter-template">
        <h1 th:text="'Bem-vindo' + (${visitor} ? '' : ' novamente ') + '!'">Bem-vindo!</h1>
        <p class="lead"><h2>Uma simples aplica&#xE7;&#xE3;o <strong>Spring</strong> <a th:href="'http://teste.filho.xyz:8080'" class="glyphicon glyphicon-cloud" aria-hidden="true"></a></h2></p>
      </div>

    </div><!-- /.container -->
    
    <div th:replace="fragments/footer"></div>
    
  </body>
</html>
