<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body>
	<div th:replace="fragments/nav"></div>
	
	<div class="container">
		
		<div class="page-header">
			<h1 th:text="'I\'m going to list everyone!'" />
		</div>
		
		<div class="col-md-6">
		  <table class="table">
		    <caption>Produtos cadastrados</caption>
		    <tr>
		      <th>#</th>
		      <th>Nome</th>
		      <th>Custo</th>
		    </tr>
		    <tr th:each="p : ${produtos}">
					<td th:text="${p.id}">id</td>
					<td th:text="${p.nome}">nome</td>
					<td th:text="${p.custoCompra}">custo de compra</td>
		    </tr>
		  </table>
		</div>
		
  </div>
  
</body>
</html>
