<!DOCTYPE HTML>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/header :: head" />
  <body>
  	
  	<div th:replace="fragments/header :: nav"></div>
  	
  	<div class="container">
  		
  		<div class="page-header">
  			<h1 th:text="'Produtos à venda!'"></h1>
  		</div>
  		
  		<div class="col-md-12">
  		  <table class="table">
  		    <!-- <caption>Produtos cadastrados</caption> -->
  		    <tr>
  		      <th>#</th>
  		      <th>Foto</th>
  		      <th>Nome</th>
  		      <th>Descri&#xE7;&#xE3;o</th>
  		      <th class="text-right">Custo</th>
  		      <th class="text-right">Pre&#xE7;o</th>
  		      <th class="text-right"></th>
  		    </tr>
  		    <tr th:each="p : ${produtos}">
  					<td th:text="${p.produto.id}">id</td>
  					<td><img th:src="*{'data:image/png;base64,'+p.produto.fotoBase64encoded}" th:alt="${p.produto.descricao}" height="50" width="50" class="img-rounded" /></td>
  					<td th:text="${p.produto.nome}">nome</td>
  					<td th:text="${p.produto.descricao}">nome</td>
  					<td th:text="${p.produto.valorCustoCompra}" class="text-right">custo de compra</td>
  					<td th:text="${p.preco}" class="text-right">preco</td>
  					<td><a class="btn btn-xs btn-success" th:href="@{'/carrinho/adicionar/'+${p.produto.id}}" th:text="'Adicionar ['+${carrinho.quantidadeProduto(p.produto)}+']'">Adicionar ao carrinho</a></td>
  					<!-- <td><img th:src="'/produtos/foto?id='+${p.id}" alt=""></img></td> -->
  		    </tr>
  		  </table>
  		</div>
  		
    </div>
    
    <div th:replace="fragments/footer"></div>
    
  </body>
</html>
